.input::-webkit-input-placeholder {
    color:rgba(255, 255, 255, 0.8);
}
.input::-moz-placeholder {
    color:rgba(255, 255, 255, 0.8);
}
.input::-ms-placeholder {
    color:rgba(255, 255, 255, 0.8);
}
.input::placeholder {
    color:rgba(255, 255, 255, 0.8);
}

.input:focus::-webkit-input-placeholder {
    color:rgba(0, 0, 0, 0.4);
}
.input:focus::-moz-placeholder {
    color:rgba(0, 0, 0, 0.4);
}
.input:focus::-ms-placeholder {
    color:rgba(0, 0, 0, 0.4);
}
.input:focus::placeholder {
    color:rgba(0, 0, 0, 0.4);
}

.my-navbar {
    height: 50px;
    background-color: #db4c3f;
    padding: 8px 16px;
    color: white;
}
.my-navbar:focus-within .my-level-right {
    position: absolute;
}

/* .search-bar */
.search-bar-container {
    width: 200px;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
    display: flex;
    border-radius: 5px;
}
.search-bar-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.search-bar-container:focus-within {
    width: 100%;
    background: white;
}
.search-bar-container>.search-bar-help {
    z-index: 1;
    display: none;
    color: black;
}
.search-bar-container:focus-within>.search-bar-help {
    display: inherit;
}
.search-bar {
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 100%;
    color: inherit;
}
.search-bar:hover {
    /* background-color: rgba(255, 255, 255, 0.2); */
}
.search-bar:focus {
    /* background-color: rgba(255, 255, 255, 1); */
    border: none;
    box-shadow: none;
    color: black;
}
/* EOF .search-bar */

.my-button {
    background: transparent;
    border: none;
    padding: 8px 12px;
    color: inherit;
}

.my-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

/* .my-button.tooltip.is-tooltip-multiline::before {
    min-width: 8rem;
} */

.my-tooltip {
    position: relative;
    display: inline-block;
}
  
.my-tooltip .my-tooltip-container {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 170%;
    margin-left: -60px;
}

.my-tooltip .my-tooltip-container::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 15%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.my-tooltip:hover .my-tooltip-container {
    visibility: visible;
}

/* .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
    align-items: stretch;
    display: flex;
}

.navbar-end {
    justify-content: flex-end;
    margin-left: auto;
    
    align-items: stretch;
    display: flex;
} */

/* .navbar-menu {
    align-items: stretch;
    display: flex;
} */

.task-item {
    justify-content: flex-start;
}