.my-navbar {
    background-color: #db4c3f;
    padding: 8px 16px;
    color: white;
}

/* .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
    align-items: stretch;
    display: flex;
}

.navbar-end {
    justify-content: flex-end;
    margin-left: auto;
    
    align-items: stretch;
    display: flex;
} */

/* .navbar-menu {
    align-items: stretch;
    display: flex;
} */

.task-item {
    justify-content: flex-start;
}